@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;



/* @theme {
    --font-sans: InterVariable, sans-serif;
} */

.container {
    width: 1280px;
    margin: 0 auto;
}




.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}


.slide {
    position: relative;
    overflow: hidden;
}
/* .slide img {
    transition: opacity 1s ease;
} */
.fade-in {
    animation: fadeIn 1.5s ease-in forwards;
}
.slide-up {
    animation: slideUp 1s ease-out forwards;
}
.slide-up-delayed {
    animation: slideUp 1s ease-out forwards;
    animation-delay: 0.5s;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideUp {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}



.quote {
    position: relative;
    font-style: italic;
    text-align: center;
}

/* Top Quotation Mark */
.quote::before {
    content: "“";
    font-size: 4rem;
    color: rgba(255, 255, 255, 0.7);
    /* position: absolute;
    top: -10px;
    left: -5px; */
    margin-bottom: 0px;
}

/* Bottom Quotation Mark */
.quote::after {
    content: "”";
    font-size: 4rem;
    color: rgba(255, 255, 255, 0.7);
    position: absolute;
    bottom: -60px;
    right: 100px;
    margin-bottom: 0px;
}




.navItem {
    position: relative;
    padding: 20px 30px;
    transition: all 0.3s ease-in-out; /* Smooth effect */

}

.navItem:hover {
    /* border-bottom: 2px solid rgba(0, 0, 0, 0.2); */
    /* border-left: 2px solid rgba(0, 0, 0, 0.2);
    border-right: 2px solid rgba(0, 0, 0, 0.2);  */
    box-shadow:
        -4px 0 10px rgba(0, 0, 0, 0.2), /* Left shadow */
        4px 0 10px rgba(0, 0, 0, 0.2);  /* Right shadow */
}
